      /*Font CSS*/
.heading-font{
 font-family: 'Neuton', Arial, serif ;color: #0B3262; font-weight: 700 ; 
}
.subheading-font{
  font-family: 'Open Sans',sans-serif ; font-weight:600; font-size :14px; color: #0B3262 ;  
}
 .content-font{
  font-family: 'Neuton', serif; font-weight: 400;  font-size :18px;

}

#header-style{
    background-color: #003262;
    border-color: transparent;
    height: 120px;
    font-weight: bold;
}
#i2{
    margin-left:-10px;
}
.image2{
  padding: 10px 10px 10px 2px;
  text-align: justify;
  font-size: 1.1em;
  font-family: 'Noto Serif', serif;
}
#i3{
    height: 400px;
}
#i4{
    height:100%;
    width:100%;
}
#no-underline{
    text-decoration:none;
    margin-left: 32px;
    margin-right: 0px;
    font-size: 1.2em;
    padding: 5px;
}
#i6{
   border-right:1px solid #CCCCCC;
}
#i38{
    font-family: 'Noto Serif', serif;
}
#link-style{
   padding-top:10px;
}
.heading-color{
  padding-left:15px;
  border-bottom:1px solid #003266;
  color:#003266;
  padding-bottom:6px;
  font-family: 'Open Sans',sans-serif;
}
#img{
 padding-left:2%;
 padding-top:2px;
 padding-bottom:0%;
 height:auto;
 width: 100%;
}
#i9{
   background-color:#F2F1EB;
}
#list{
   list-style-type:none;
   border-right:1px solid #CCC;
}
#i10{
  font-size:1.4em;
  line-height:20px;
}
#i11{
   list-style-type:none;
   font-size:1.2em;
   line-height:20px;
}
#span{
   line-height:20px;
}
#i13{
   font-family:'Open Sans',sans-serif;
   font-size:13px;
   color:#CCCCCC;
   font-weight:600;
}
#logo{
   width:200; 
   height:79;
}
#i14{
  color:#CCCCCC;  
}
.icon-color{
   color:#CCCCCC;
   padding-left:16px;
}
#i17{
   font-weight:bold;
}
#i18{
   font-weight:bold;
   margin-left:29%;
}
#site-footer
{
    background: #414141;;
    padding: 20px 0
}
ul > li > a:hover{
  text-decoration: none;
  color:white;
}
ul > li > a{
  font-family: 'Open Sans',sans-serif;
  color: #AEAEAE;
  font-weight: 700;
  background-color: transparent;
}
a:hover{
  text-decoration: underline;
  color: #0B3262;
}
#kkk li > a:hover{
  color: orange;
}
.container > ul > li > a:hover{
  color: orange;
}
	  
.navbar-underline:hover {
		border-bottom:2px solid #C0CAD3;
		border-bottom-color: #C0CAD3;
		/*text-decoration:none;*/
		}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    color: #829DB5;
    background-color: rgb(100, 210, 203);		
}
/*====================Event Section=========================*/
.special-btn{
  background: transparent none repeat scroll 0% 0%;
  border: 1px solid;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-weight: inherit;
  line-height: normal;
  padding: 1em;
  text-align: center;
  text-decoration: none !important;
  transition: background 0.2s ease 0s;
  text-transform: uppercase;
  color: #FFF;
  border-color: #FFF;
  opacity: 1;
  float:right;
  margin-top:-3.5em;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}
.special-btn:hover{
  color: #FFF;
  border-color: #FFF;
  opacity: 0.5;
}
.event{
  background-color:#293352;
  padding-bottom:6%;
}
.event h1{
  color:#FFF;
  text-align:center;
}
.event img{
  width:100%;
  height:100%;
  overflow:hidden;
  padding-top:8%;
}
.inner-event{
  background-color:#293352;
  text-align: center;
  color: white;
}
.inner-event-div{
  background-color:white;
  padding-bottom:4%;
}
#site-footer h4{
  font-weight: bold;
}
.mybutton{
    background-color: #003262;
    border-color: #002549;
    border: none;
    color: #fff;
    padding: 13px 5px 13px 5px;
    margin: 5px 0px;
    line-height: 20px;
    text-align: center;
    font-weight: normal;
    vertical-align: middle;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}
.mybutton > a{
  color: #fff;
  text-decoration: none;
}


/* Media Queries for 0px to 400px */
@media only screen and (max-width: 400px) {
  .image2{
    padding-left: 65px;
    margin-left: 20px;
  }
}

#navbar-main{
  padding-top: none;
  padding-left: 90px;
}

#colm
{
  background-color: #003262;
}
 
       /* Sitemap page CSS*/
    .rightAlign{text-align: right;}
    .leftAlign{text-align: left;}
    .centerAlign{text-align: center;}

    

/* Media Queries for 768px to 1200px */
@media only screen and (max-width: 1200px) and (min-width: 768px){
      #test{
        width:80%;
      }

      #navbar-main{
        padding-top: 10%;
      }

      #test > li > a{
        font-size: 1.0em;
        margin-left: 5px;
      }
      #campus_life{
        width:21%;
      }
      #yamm-down-about, #yamm-down-admission, #yamm-down-academics, #yamm-down-research, #yamm-down-campus, #yamm-down-faculty{
        margin-top:-2%;
      }
      #test_about{
        width:16%;
      }
      #test_admission{
        width:22%;
      }
      #test_academics{
        width:22%;
      }
      #test-research{
        width:19%;
      }
      #test-faculty{
        width:19%;
      }
      .nav > li > a{
        padding: 10px 11px;
      }
        /* Sitemap page CSS*/
    .rightAlign{text-align: right;}
    .leftAlign{text-align: left;}
    .centerAlign{text-align: center;}

}

                     /* Media Queries for 0px to 767px */
@media only screen and (max-width:767px){
   #no-underline{
    margin-left: -25px; }
     /* For sitemap */
  .rightAlign{text-align: left;}
  .leftAlign{text-align: left;}
  .centerAlign{text-align: left;}
}


#image-effect{
  -webkit-transition: all 5s ease;
     -moz-transition: all 5s ease;
       -o-transition: all 5s ease;
      -ms-transition: all 5s ease;
          transition: all 5s ease;
}
#image-effect:hover{  
  -webkit-filter: hue-rotate(333deg);
}
.overview-text{
  margin-top: -20px;
}
#centralized {
    display: block;
    margin: 0 auto;
}
.stylish-text{
  font-size: 18px;
}
.input-box{
  border-radius: 0px;
}
.style-row{
  color:#FFFFFF; 
  background-color:#333333;
}

#wrapper {
  text-align: center;
  padding: 50px 0;
  background: url(../images/main-bg.jpg) no-repeat center top;
  background-attachment: relative;
  background-position: center center;
  min-height: 600px;
  width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  color: #fff;
}
#no-border{
  border: none;
  margin-top:-55px;
}

/* caurosol right-left errows*/
.errow:hover{
  height:10%;
  width:10%;
}

/* Sets Minimum length of Container,
 So that pages having less content does not show footer at first glance itself*/
.minlength{min-height:470px;}

  /* Used in video channel page to give margin */
.magin{margin-bottom:30px;}


                        /* Used To give heigth and width to Slider */

/* Greater than 968px*/                        
@media only screen and (min-width: 968px){    
      .slider_size{width:100em ;height:29em;}}

 /* Less than 968px */
@media only screen and (max-width: 968px){   
      .slider_size{width:100em ;height:18em;}}

.navbartwo{
  color:#FFF;
}